*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-950: hsl(0, 0%, 17%);
  --gray-400: hsl(0, 0%, 58%);
}

body {
  font-size: 1.125rem;
  font-family: "Rubik", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background-image: url("./images/pattern-bg-desktop.png");
  background-size: cover;
  background-position: center;
  gap: 1rem;
  padding-top: 1rem;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
}

form {
  display: flex;
  width: 40%;
}

form input {
  flex: 1;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 0.8rem;
  color: var(--gray-950);
}

form input::placeholder {
  color: var(--gray-400);
}

form button {
  border: none;
  background-color: black;
  border-radius: 0 10px 10px 0;
  padding: 0.8rem 1rem;
}

form button img {
  width: 9px;
}

form button:hover,
form button:active {
  background-color: var(--gray-950);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px var(--gray-400);
  margin-top: -50px;
  width: 80%;
  padding: 1.5rem;
  z-index: 1;
  position: absolute;
}

dl {
  display: flex;
  gap: 1rem;
}

dl div {
  flex: 1;
}

dl div:not(:last-child) {
  border-right: 1px solid var(--gray-400);
}

dt {
  font-size: 0.6875rem;
  color: var(--gray-400);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 0.8rem;
}

dd {
  font-weight: 500;
}

.map {
  height: 400px;
  width: 100%;
  position: relative;
  z-index: 0;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

@media screen and (width <=900px) {
  header {
    background-image: url("./images/pattern-bg-mobile.png");
    height: 280px;
  }

  form {
    width: 90%;
  }

  section {
    margin-top: -140px;
    width: 90%;
  }

  dl {
    flex-direction: column;
    align-items: center;
  }

  dl div:not(:last-child) {
    border-right: none;
  }
  dt,
  dd {
    text-align: center;
  }
}
